# Compiled files
bin/*
*.o
*.out

# IDE specific files
.vscode/
.idea/
*.swp

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Keep output directory but ignore specific files
!output/
output/*
!output/.gitkeep
!output/test_file.jpg
